footer {
  position: relative
  padding: 50px;
  margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

footer a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

footer a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

footer a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

footer a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}