@media only screen and (max-width: 767px) {
  .jumbotron {
      background-image: url(../images/port1.jpg);
      background-color:gold;
      background-position: center center ;
      background-repeat: no-repeat;
      background-size: 50%;
      background-color: #464646;
      margin:0px;
      padding:0px;
  }
}