@media only screen and (max-width: 767px) {
   .body{
      text-align: center;
      text-justify: center;
   }
  .jumbotron {
      background-image: url(../images/port1.jpg);
      background-color:gold;
      background-position: center center ;
      background-repeat: no-repeat;
      background-size: 50%;
      background-color: #464646;
      margin:0px;
      padding:0px;
  }

   .intro {
      background-color:grey; 
      color:white;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      padding: 20px 20px 20px 20px;
 }
}