


.jumbotron {
        background-image: url(../images/geometric-3037028_1280.png);
       
       
}

#portfolioimg {
        width: 200px;
}
.row {
        margin: 20px;
}

p {
        padding: 10px;
}


